# Latex temporary files
*.aux
*.synctex.gz
*.log
.*.lib
.*.lb
*.out
*.bbl
*.blg

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
